<a href="https://colab.research.google.com/github/Jullyhein/ebac_2022/blob/main/ebac_modulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estrutura condicional if/else/elif

In [3]:
codigo_seguranca01 = '000'
codigo_seguranca = '010' 

pode_efetuar_pag = codigo_seguranca == codigo_seguranca01
print(pode_efetuar_pag)

False

In [4]:
if pode_efetuar_pag:
  print('Pagamento efetuado')
else:
  print('Erro: codigo de segurança inválido')

Erro: codigo de segurança inválido

In [5]:
codigo_seguranca02 = '852'
c_seguranca = '550'

senha = '123456'
senha_cadastro = '123456'

In [6]:
if (codigo_seguranca02 == c_seguranca) & (senha == senha_cadastro):
  print('Pagamento efetuado')
else:
  print('Erro: codigo de segurança inválido')

Erro: codigo de segurança inválido

In [7]:
if (codigo_seguranca02 != c_seguranca) | (senha != senha_cadastro):
  print('Pagamento efetuado')
else:
  print('Erro: codigo de segurança inválido')

Pagamento efetuado

In [8]:
if (codigo_seguranca02 != c_seguranca) & (senha != senha_cadastro):
  print('Pagamento efetuado')
elif(codigo_seguranca02 != c_seguranca) & (senha == senha_cadastro):
  print("Erro: Código de segurança inválido")
elif(codigo_seguranca02 == c_seguranca) & (senha != senha_cadastro):
  print("Erro: senha inválida")
else:
  print('Erro: codigo de segurança e senha inválidos')

Erro: Código de segurança inválido

Estrutura condicional try/ except/ finally

In [10]:
preco = 132.85
pessoas = 3

try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)

except ZeroDivisionError:
  print('Número de pessoas inválido. Espera-se um valor maior que o 0 e obteve-se um valor igual a a '+str(pessoas))

44.28333333333333

In [13]:
anos = [2019, 2020, 2021]

try:
  ano_Atual = anos[3]
  print(ano_Atual)
except Exception:
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' +str(len(anos) -1))

Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

In [14]:
anos = [2019, 2020, 2021]

try:
  ano_Atual = anos[3]
  print(ano_Atual)
except Exception as exc:
  print('Descrição da exceção: ' +str(exc))
  print('Tipo da exceção: ' +str(type(exc)))
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' +str(len(anos) -1))

Descrição da exceção: list index out of range
Tipo da exceção: <class 'IndexError'>
Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

Try/ except / finally

In [20]:
nome = 'Jullyen Soares'
idade = 29

try: 
  apresentacao = "Olá pessoal, meu nome é " + nome + ' e eu tenho ' +idade + 'anos'
  print(apresentacao)
except TypeError:
  idade = str(idade)
finally: 
  print('Segunda chance')
  apresentacao = 'Olá pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'
  print(apresentacao)

Segunda chance
Olá pessoal, meu nome é Jullyen Soares e eu tenho 29 anos

Estrutura de repetição fot/in

In [22]:
soma = 0
for valor in range (0,10):
  soma = soma + valor
  print(valor)

print(valor)

0
1
2
3
4
5
6
7
8
9
9

In [23]:
for multiplo_dois in range (2, 10, 2): #vai do 2 até o 9, de dois em dois.
  print(multiplo_dois)

2
4
6
8

for / in/ list

In [24]:
frutas = ['maca', 'banana', 'laranja', 'uva', 'pera']

for fruta in frutas:
  print(fruta)

maca
banana
laranja
uva
pera

In [25]:
frase = 'Fala pessoal, meu nome é André Perez'

for caracter in frase:
  if (caracter == 'A') | (caracter == 'z'):
    print(f"A letra '{caracter}' está presente na frase.")

A letra 'A' está presente na frase.
A letra 'z' está presente na frase.

for / in/ dict

In [27]:
credito = {'123': 750, '456': 812, '789': 980}

In [28]:
for chave, valor in credito.items():
  print(f'Para o documento {chave}, o valor do score de crédito é {valor}.')
  print('\n')

Para o documento 123, o valor do score de crédito é 750.


Para o documento 456, o valor do score de crédito é 812.


Para o documento 789, o valor do score de crédito é 980.

In [29]:
for chave in credito.keys():
  print(chave)
  print(credito[chave])
  print(f'Para o documento {chave}, o valor do score de crédito é {valor}.')
  print('\n')

123
750
Para o documento 123, o valor do score de crédito é 980.


456
812
Para o documento 456, o valor do score de crédito é 980.


789
980
Para o documento 789, o valor do score de crédito é 980.

In [30]:
for valor in credito.values():
  print(valor)
  print(f'O valor do score de crédito é {valor}, mas não temos mais as chaves.')
  print('\n')

750
O valor do score de crédito é 750, mas não temos mais as chaves.


812
O valor do score de crédito é 812, mas não temos mais as chaves.


980
O valor do score de crédito é 980, mas não temos mais as chaves.

BREAK / CONTINUE

In [32]:
for i in range (0, 10*10*10*10):
  print(i)
  if i ==10:
    break #sempre estará presente em um loop. Para quebrar laçoes de repetição.

0
1
2
3
4
5
6
7
8
9
10

In [33]:
numero = 10

if numero % 2 == 0:
  print(f'O número {numero} é par')
else:
  print(f'O número {numero} é ímpar')

O número 10 é par

In [42]:
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15]

for numero in numeros:
  if numero % 2 == 0:
   print(f'O número {numero} é par')
   break
  else:
    print(f'O número {numero} é ímpar')

O número 0 é par

In [38]:
numeros = [0, 1, 2, 3, 4, 10, 14, 15]

for numero in numeros:

  if numero % 2 == 0:
   print(f'O número {numero} é par')
   break
  else:
    continue
  print(f'O número {numero} é ímpar')

O número 0 é par